<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <title>Добавить материал | Система поддержки здорового образа жизни</title>

    <link rel="stylesheet" href="/static/css/styles.css?v=35">
</head>

<body>

<header class="site-header">

    <div class="logo">
        Система поддержки здорового образа жизни
    </div>

    <nav class="nav-menu">

        <a href="/articles">
            Материалы
        </a>

        <a class="logout-button" href="/logout">
            Выйти
        </a>

    </nav>

</header>

<main class="article-detail-page">

    <div class="article-detail-card">

        <span class="category">
            Админ-панель
        </span>

        <h1>
            Добавить новый материал
        </h1>

        <form
            class="admin-form"
            method="post"
            action="/admin/articles/new"
        >

            <label>
                Название материала
            </label>

            <input
                type="text"
                name="title"
                required
            >

            

            <label>
                Содержание материала
            </label>

            <textarea
                name="content"
                rows="10"
                required
            ></textarea>

            

            <button
                type="submit"
                class="primary-btn"
            >
                Сохранить материал
            </button>

        </form>

    </div>

</main>

</body>
</html>