<button id="openChatButton" onclick="openChat()">
    Задать вопрос<br>ИИ
</button>

<div id="chatPanel">

    <div class="chat-header">

        <div>
            <h3>Система поддержки здорового образа жизни</h3>
            <span>ИИ-ассистент по здоровому образу жизни</span>
        </div>

        <button id="closeChatButton" onclick="closeChat()">
            ✕
        </button>

    </div>

    <div class="chat-messages" id="chatMessages">

        <div class="bot-message">
            Здравствуйте!

            <br><br>

            Я помогу получить рекомендации
            по физической активности,
            питанию и здоровому образу жизни.

            Для подготовки ответов
            используются материалы системы. 
        </div>

    </div>

    <div class="chat-input-area">

        <input
            type="text"
            id="chatInput"
            placeholder="Введите сообщение..."
        >

        <button onclick="sendMessage()">
            ➜
        </button>

    </div>

</div>