<button id="openChatButton" onclick="openChat()">
    Задать вопрос<br>ИИ
</button>

<div id="chatPanel">

    <div class="chat-header">

        <div>
            <h3>Система поддержки здорового образа жизни</h3>
            <span>ИИ-ассистент по здоровому образу жизни</span>
        </div>

        <div class="chat-actions">

            <button
                class="clear-chat-button"
                onclick="clearChatHistory()"
            >
                Очистить
            </button>

            <button
                id="closeChatButton"
                onclick="closeChat()"
            >
                ✕
            </button>

        </div>

    </div>

    <div class="chat-messages" id="chatMessages">

        <div class="bot-message">
            Здравствуйте! Я являюсь ИИ-ассистентом системы поддержки здорового образа жизни.

            <br><br>

            Рекомендации формируются на основе материалов системы и данных вашего профиля: категории ИМТ, выбранной цели и ограничений здоровья.

            <br><br>

            При необходимости я также могу кратко объяснить отдельные вопросы по теме физической активности и питания.
        </div>

    </div>

    <div class="chat-input-area">

        <input
            type="text"
            id="chatInput"
            placeholder="Введите сообщение..."
        >

        <button onclick="sendMessage()">
            ➜
        </button>

    </div>

</div>